<!DOCTYPE html>
    <head>
        <meta charset="UTF-8"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <title>Lab Reservation</title>
        <link rel="stylesheet" href="css/style.css"> 
        <title>Lab Reservation System</title>
        <link rel="icon" type="image/x-icon" href="src/favicon.png">
    </head>
    <body> 
        <div class = "header">
            <div class = "header-left">
                Lab Reservation System
            </div>

            <div class = "header-right">
                <div class = "username">
                    Geoffrey Elton
                </div>
                <img src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQUsIKSMW9Ul2g-X5JYNNGZlKYAapvSFKx_7g&s">
            </div>
        </div>
        <div class = "content">
            <div class = "sidebar">
                <div class = "nav"><a href="dashboard">Dashboard</a></div>
                <div class = "nav" id="dashboard-nav">Laboratories</div>
                <div class = "nav"><a href="reservation">Reservations</a></div>
            </div>
        
            <div class="lab-container">
                <div clas="lab-header">
                    <h1>Laboratories</h1>
                    <p>Browse through all the available labs.</p>
                </div>
                <div class="filter-section">
                    <label>Filter by Availability:</label>
                    <select id="avail-filter">
                        <option value="all">All</option>
                        <option value="available">Available</option>
                        <option value="unavailable">Unavailable</option>
                    </select>
                </div>

                <div class="card-container-wrapper">
                {{#each labs}}
                <div class="card-container"> 
                    <div class="card-header {{#if (eq status 'Available')}}card-available{{else}}card-unavailable{{/if}}"> 
                        <h1><a href="/reservation">{{name}}</a></h1>
                        <h5>Status: {{status}}</h5>
                    </div>
                    <div class="card-description"> 
                        <h4>{{description}}</h4>
                    </div>
                    <img src="{{image}}">
                </div>
                </br></br>
                {{/each}}
                </div>
                 
            </div>

        </div>

    </body>
    <script>
            document.getElementById("logout").addEventListener("click", function() {
        window.location.href = "index.html";
    });
    </script>
</html> 



