<script>
    const currentUser = {
        id: "{{user._id}}",
        name: "{{user.name}}"
    };
</script>

<!DOCTYPE html>
<html lang="en"> 
<head>
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Lab Reservation</title>
    <link rel="stylesheet" href="css/style.css"> 
</head>
<body> 
    <div class = "header">
            <div class = "header-left">
                Lab Reservation System
            </div>

            <div class = "header-right">
                <div class = "username">
                    {{user.name}}
                </div>
                <img src = "{{user.pfp}}">
            </div>
        </div>
        <div class = "content">
            <div class = "sidebar">
                <div class = "nav"><a href="dashboard">Dashboard</a></div>
                <div class = "nav"><a href="laboratories">Laboratories</a></div>
                <div class = "nav" id="dashboard-nav">Reservations</div>
            </div>

    <div class="container">
        
        <div class="reservation-section">
            <h2>Seat Reservations</h2>
            
            <div class="week-selector">
                <button onclick="changeWeek(-1)" class="btn-secondary">Previous Week</button>
                <span id="week-display"></span>
                <button onclick="changeWeek(1)" class="btn-secondary">Next Week</button>
            </div>

            <div class="filter-section">
                <label> Search Slot:</label>
                <select id="lab-filter">
                    <option value="lab">Laboratory</option>
                    <option value="lab1">Lab 1</option>
                    <option value="lab2">Lab 2</option>
                    <option value="lab3">Lab 3</option>
                </select>
                <select id="day-filter">
                    <option value="all-day">Day</option>
                    <option value="Mon">Monday</option>
                    <option value="Tues">Tuesday</option>
                    <option value="Wed">Wednesday</option>
                    <option value="Thurs">Thursday</option>
                    <option value="Fri">Friday</option>
                    <option value="Sat">Saturday</option>
                </select>
                <select id="time-filter">
                    <option value="all-time">Time</option>
                    <option value="time1">7:30 - 9:00 am</option>
                    <option value="time2">11:00 - 12:30 pm</option>
                </select>
            </div>
            <label>
                Reserve anonymously
                <input type="checkbox" id="anonymous-toggle">
            </label>
             
            <br> 

            <div id="reservation-calendar"></div>              
        </div>
    </div>
    <script src="/js/reservations.js">
        const currentUser = {
            name: "{{name}}"
        }
    </script>
</body>
</html>



