<!DOCTYPE html>
<html>
    <head>
        <link href="css/style.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>Lab Reservation System</title>
        <link rel="icon" type="image/x-icon" href="src/favicon.png">
    </head>
    <body>
        <div class="header">
            <div class="header-left">
                Lab Reservation System
            </div>
            <div class="header-right">
                <div class="username">
                    {{user.name}}
                </div>
                <img src="{{user.profilePic}}">
                <div id="logout">
                    Logout
                    <span><i class="fa fa-sign-out" aria-hidden="true"></i></span>
                </div>
            </div>
        </div>

        <div class="content">
            <div class="sidebar">
                <div class="nav"><a href="dashboard">Dashboard</a></div>
                <div class="nav"><a href="laboratories">Laboratories</a></div>
                <div class="nav" id="dashboard-nav">Reservations</div>
            </div>

            <div class="main-content">
                <div class="dashboard-header">
                    My Reservations
                </div>

                <div class="view-reservation-content">
                    <table class="view-reservation-table">
                        <tr>
                            <th>Room</th>
                            <th>Seat</th>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Status</th>
                        </tr>
                        {{#each reservations}}
                        <tr>
                            <td>{{this.lab}}</td>
                            <td>{{this.seat_name}}</td>
                            <td>{{this.date}}</td>
                            <td>{{this.time}}</td>
                            <td>{{this.status}}</td>
                        </tr>
                        {{else}}
                        <tr>
                            <td colspan="5">No reservations found.</td>
                        </tr>
                        {{/each}}
                    </table>

                    <footer class="view-reservation-footer">
                        <button class="view-add-btn" onclick="window.location.href='/reservation'">Add</button>
                        <button class="view-edit-btn">Edit</button>
                        <button class="view-delete-btn">Delete</button>
                    </footer>
                </div>
            </div>
        </div>

        <script>
            document.getElementById("logout").addEventListener("click", function() {
                window.location.href = "/logout";
            });
        </script>
    </body>
</html>
