<html>
    <head>
        <link href = "css/style.css" rel = "stylesheet" type = "text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>Lab Reservation System</title>
        <link rel="icon" type="image/x-icon" href="src/favicon.png">
    </head>
    <body>
        <div class = "header">
            <div class = "header-left">
                Lab Reservation System
            </div>

            <div class = "header-right">
                <div class = "username">
                    miguel
                </div>
                <img src = "https://img.freepik.com/premium-vector/default-avatar-profile-icon-social-media-user-image-gray-avatar-icon-blank-profile-silhouette-vector-illustration_561158-3407.jpg?w=360">
            </div>
        </div>
        <div class = "content">
            <div class = "sidebar">
                <div class = "nav"><a href="dashboard.html">Dashboard</a></div>
                <div class = "nav"><a href="laboratories.html">Laboratories</a></div>
                <div class = "nav"><a href="reservation.html">Reservations</a></div>
            </div>
        <div class = "main-content">
            <div class = "main-content">
                <div class = "dashboard-header">
                    Reservations
                </div>

                <div class = "view-reservation-content">
                    <table class = "view-reservation-table">
                        <tr>
                            <th>Room</th>
                            <th>Seat</th>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Status</th>
                        </tr>
                        {{#each reservations}}
                        <tr>
                            <td>{{lab}}</td>
                            <td>{{seats}}</td>
                            <td>{{date}}</td>
                            <td>{{time}}</td>
                            <td>{{status}}</td>
                        </tr>
                        {{else}}
                        <tr>
                            <td colspan="5">No reservations found.</td>
                        </tr>
                        {{/each}}
                    </table>

                    <footer class = "view-reservation-footer">
                        <button class="view-add-btn">Add</button>
                        <button class="view-edit-btn">Edit</button>
                        <button class="view-delete-btn">Delete</button>
                    </footer>
                </div>
            </div>
        </div>
    </body>
</html>
